<h1>Type in address to get weather</h1>
<input type="text" id="address" placeholder="Address">
<button onclick="getWeather(address)">Submit</button>

<p id="latLng"></p>
<p id="currTemp"></p>
<p id="maxTemp"></p>
<p id="minTemp"></p>

<script>
function getWeather(address) {
  var latLng = new XMLHttpRequest();
  var weather = new XMLHttpRequest();  
  var lat;
  var lng;                                                                                                            
  latLng.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      var getLatLng = JSON.parse(this.response);
      lat = getLatLng.results["0"].geometry.location.lat;
      lng = getLatLng.results["0"].geometry.location.lng;
      weather.open("GET", "http://api.openweathermap.org/data/2.5/weather?lat="+lat+"&lon="+lng+"&appid=76ade0ae036d6f228f2c660d2a2680c9", true);
      weather.send();
      // 2712 pepperwood pl hayward ca 94541
    }
    document.getElementById("latLng").innerHTML = 'lat/lng: ' +
     lat + ' ' + lng;
  };
  weather.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      var temp = JSON.parse(this.response);
      var faren = Math.round(temp.main.temp*(9/5) - 459.67) //convert kelvin to farenheight and round the result
      var highTemp = Math.round(temp.main.temp_max*(9/5) - 459.67)
      var lowTemp = Math.round(temp.main.temp_min*(9/5) - 459.67)
      console.log(temp);
      document.getElementById("currTemp").innerHTML = "Curr Temp: " + faren + " F";
      document.getElementById("maxTemp").innerHTML = "High Temp: " + highTemp + " F";
      document.getElementById("minTemp").innerHTML = "Low Temp: " + lowTemp + " F";
    }
  };
  latLng.open("GET", "https://maps.googleapis.com/maps/api/geocode/json?address="+address.value+"&key=AIzaSyCuh8W6rG3SyQr4vkSL51uKP1vM9Df0yQ0", true);
  latLng.send();
}
</script>
